# Environnements virtuels
venv/
.env/
__pycache__/

# Fichiers temporaires Python
*.pyc
*.pyo
*.pyd
*.log

# Fichiers système
.DS_Store

# Données volumineuses (CFD)
data/raw/*/fields.csv
data/raw/*/*.h5
*.npy
*.h5
*.keras

# Dossier processed (généré automatiquement)
data/processed/
