# Environnements virtuels
venv/
.env/
__pycache__/

# Fichiers temporaires Python
*.pyc
*.pyo
*.pyd
*.log

# Fichiers système
.DS_Store

# Données source et générées
data/
# Modèles et fichiers volumineux
*.npy
*.h5
*.keras
*.out
